name: Docker Image CI

on:
  push:
    branches: [ topic/setup-github-actions ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag powerclicore:$(date +%s)
